
body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

*{
  font-family: 'Inter', system-ui;
}
.wrapper {

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
border-radius: 20px;
max-width: 1080px;
margin: 50px auto;
}

header {
 border-bottom: 1px solid #EAEAEA;
    img{
      margin-right: 10px
    }
    h3, p {
      margin: 0;
    }
 .contect{
  margin: 0;
 }
}

 .button{
  background: #FFFFFF;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
 }

 .Search{
  border: 1px solid #f2f2f2;
  border-radius: 10 px;
  padding: 0 15px;
  position: relative;

  .Around-del{
    position: absolute;
    right: 10px;
    width: 14px;
    height: 14px;
    top: 11px;

  }

  input{
    border: 0;
    padding: 13px; 
    font-size: 16px;
    width: 200px;
  }

}

.overlay{

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer{
display: flex;
flex-direction: column;
position: absolute;
width: 420px;
height: 100%;
right: 0;
background: #FFFFFF;
box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
padding: 30px;

.items{
  overflow: auto;
  margin-bottom: 40px;
}

h2{

 margin: 0;
}
}

.total-block{
  ul{
    display: block;
    margin-bottom: 40px !important;
  li{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
div{
  flex: 1;
  height: 1px;
  border-bottom: 1px dashed #DFDFDF;
  position: relative;
  top: -4px;
  margin: 0 7px;
    }
  }
  .just-button{
    position: relative;

    &:hover{
      img 
      {transform: translateX(5px);
      }
    }
    
    img{
      position: absolute;
      right: 40px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }

  }
}

.just-button{
  width: 100%;
  height: 55px;
  background: #49ACB3;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover{
    background: lighten(#49ACB3, 5%);
  }

  &:active{
    background: darken(#49ACB3, 5%);
  }
}

  .cartItem{
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
      p{
        font-size: 14px;
      }
    
      b{
        font-size: 15px;
      }
    
      .remove-btn{
        opacity: 0.5;
        cursor: pointer;
        &:hover{
          opacity: 1;
        }
      }
}

.EmptyCart{

  .Back-button{
  position: relative;

  &:hover{
    img 
    {transform: translateX(-5px);
    }
  }
  
  img{
    position: absolute;
    left: 25px;
    top: 21px;
    transition: transform 0.2s ease-in-out;
  }
  }
}

.Back-button{

  top: 20px;
  width: 70%;
  height: 55px;
  background: #49ACB3;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover{
    background: lighten(#49ACB3, 5%);
  }

  &:active{
    background: darken(#49ACB3, 5%);
  }
    
  }

  .Login {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0,0,0,0.01);
    padding: 30px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2

{
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 24px;
    margin-bottom: 30px;
}
    .login-1{
      div{
        margin-top: 20px;
        flex: 1;
        height: 1px;
        border-bottom: 3px dashed #DFDFDF;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }  
    }

}

.Login input {
  border: 1px solid #dddddd;
  border-radius: 20px;
  padding: 0 15px;
  position: relative;
  display: block;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
}


.logBtn {
  top: 20px;
  width: 17%;
  height: 52px;
  background: #49ACB3;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover{
    background: lighten(#49ACB3, 5%);
  }

  &:active{
    background: darken(#49ACB3, 5%);
  }
}

  .logBtn-reg{
  top: 20px;
  width: 20%;
  height: 52px;
  background: #49ACB3;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover{
    background: lighten(#49ACB3, 5%);
  }

  &:active{
    background: darken(#49ACB3, 5%);
  }
  }


.Link {
  span:hover {
    text-decoration: underline !important;
    color: "red";
  }
}